#main-header {
  top: 0;
  background: white;
  position: sticky;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid silver;
  z-index: 777;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

.icon {
  display: block;
  width: 20px;
  height: 20px;
  background: center/cover;
}

.i-menu {
  background-image: url(./images/menu.svg);
}

.i-search {
  background-image: url(./images/magnify.svg);
}

.icon-button {
  border-radius: 3px;
  cursor: pointer;
  transition: ease 0.6s;
}

.icon-button:hover {
  background-color: #f7f7f7;
}

.social-links a {
  display: flex;
  justify-content: center;
}

#credit a {
  color: black;
}

.social-links {
  display: grid;
  grid-column: span 2;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-links button img:hover {
  filter: invert(100%);
}

.social {
  width: 27px;
  height: 27px;
  background-color: #eee;
  border: 1px solid #eee;
  border-radius: 50%;
  padding: 5px;
}

.social:hover {
  background-color: white;
}

.comments-button {
  position: relative;
  align-self: flex-start;
  width: 35px;
  height: 24px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 4px;
}

.further-article {
  display: grid;
  grid-gap: 8px;
}

.further-article figcaption {
  font: 10px cheltenham, Georgia, 'Times New Roman', Times, serif;
  text-align: right;
}

#further-readings h2 {
  grid-column: 1 / -1;
  font: 700 1rem/1.4rem franklin, Georgia, 'Times New Roman', Times, serif;
}

#further-readings a {
  color: black;
  text-decoration: none;
}

#further-readings h3 {
  font: 500 1.1rem/1.3rem cheltenham, Georgia, 'Times New Roman', Times, serif;
}

#site-index a {
  color: black;
  font-family: franklin, Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
}

#footer-links a {
  font: 11px franklin, Georgia, 'Times New Roman', Times, serif;
  padding-bottom: 20px;
  text-decoration: none;
  color: #666;
}

#further-readings a:hover {
  color: rgb(102, 102, 102);
}

.further-article span {
  color: rgb(153, 153, 153);
  font: 0.75rem/1.25rem franklin, Georgia, 'Times New Roman', Times, serif;
}
